<div class="content">
    <p>Zowel kinderen, adolescenten, volwassenen als senioren kunnen zich aanmelden in functie van preventie, onderzoek, behandeling, diagnose en follow-up van:</p>

    <ul>
        <li>Leerstoornissen
            <ul>
                <li>Dyslexie<br/><em>leesmoeilijkheden</em></li>
                <li>Dysorthografie<br/><em>spellingsmoeilijkheden</em></li>
                <li>Dyscalculie<br/><em>rekenmoeilijkheden</em></li>
            </ul>
        </li>
        <li>Spraakstoornissen
            <ul>
                <li>Articulatiestoornissen<br/><em>lispelen, uitspraak r, tussentandse tongplaatsing…</em></li>
                <li>Myofunctionele stoornissen<br/><em>mondademen, duimzuigen, foutief slikpatroon…</em></li>
                <li>Dysartrie<br/><em>motorische spraakstoornissen ten gevolge van een hersentrauma, de ziekte van Parkinson, multiple sclerose…</em></li>
                <li>Verbale apraxie<br/><em>motorische spraakplanningsstoornis ten gevolge van een hersentrauma, de ziekte van Parkinson, multiple sclerose…</em></li>
            </ul>
        </li>
        <li>Taalstoornissen
            <ul>
                <li>Fonologische stoornissen<br/><em>onregelmatige articulatiefouten zoals r-w verwarring, s-z verwarring, k-t verwarring…</em></li>
                <li>Taalontwikkelingsstoornissen<br/><em>vertraagde taalontwikkeling</em></li>
                <li>Afasie<br/><em>verworven taalstoornis na een beroerte of een hersentrauma</em></li>
            </ul>
        </li>
        <li>Stemstoornissen
            <ul>
                <li>Organische stemstoornissen<br/><em>stemplooiknobbels…</em></li>
                <li>Functionele stemstoornissen<br/><em>verkeerd stemgebruik, stemmisbruik</em></li>
            </ul>
        </li>
    </ul>

    <p>Naast de persoonlijke begeleiding wordt veel belang gehecht aan communicatie/medewerking tussen alle betrokken partijen zodat een ideale leeromgeving kan worden gecreëerd.</p>
</div>