<div class="content">
    <p>Logopedie is het specialisme gericht op de preventie, het onderzoek en de behandeling van stoornissen en beperkingen op het gebied van communicatie. Zowel kinderen, adolescenten, volwassenen als senioren kunnen worden blootgesteld aan communicatiemoeilijkheden. Het belang van logopedie valt dus niet te onderschatten in onze huidige communicatiemaatschappij.</p>

    <p>Deze praktijk focust zich dan ook op:</p>
    <ul>
        <li>leerstoornissen (reken-, schrijf- en leesstoornissen)</li>
        <li>spraakstoornissen (articulatieproblemen, afwijkend mondgedrag, dysartrie, verbale apraxie)</li>
        <li>taalstoornissen (ontwikkelingsstoornissen, afasie)</li>
        <li>stemstoornissen (heesheid)</li>
    </ul>

    <p>Op die manier garandeert KD logopedie een <strong>deskundige, gespecialiseerde en persoonlijke aanpak</strong>. Ik hecht hierbij veel belang aan een nauwe samenwerking tussen alle betrokken partijen (ouders, leerkrachten, zorgcoördinatoren, CLB, artsen, psychologen, psychomotorisch therapeuten…).</p>

    <strong>Samen</strong> wordt gezocht naar de sterktes en zwaktes om een ideale leeromgeving te creëren.
    </p>

    <p>Tot binnenkort,<br/>
    Kelly</p>
</div>