<div class="content">
    <p>Het eerste gesprek is steeds vrijblijvend en gratis. Nadien worden de tarieven van het nationaal akkoord logopedisten-ziekenfondsen toegepast aangezien ik een <u>erkend</u> logopediste ben.</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <td/>
                <td>Honorarium</td>
                <td>Terugbetaling mutualiteit <sup>*</sup></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Bilanzitting</td>
                <td>€ 30,87 tot 5x</td>
                <td>€ 23,16 tot 5x</td>
            </tr>
            <tr>
                <td>Evolutiebilan</td>
                <td>€ 44,11</td>
                <td>€ 33,09</td>
            </tr>
            <tr>
                <td>Individuele behandeling 30 min</td>
                <td>€ 22,05</td>
                <td>€ 16,54</td>
            </tr>
            <tr>
                <td>Individuele behandeling 60 min</td>
                <td>€ 44,11</td>
                <td>€ 33,09</td>
            </tr>
        </tbody>
    </table>

    <section>
        <aside><sup>*</sup> Voor de meeste logopedische behandelingen is terugbetaling mogelijk. Het terugbetalingstarief bedraagt 75% van het honorarium (of 90% voor mensen met het WIGW-statuut). Indien de logopedische behandeling valt onder de aanvullende verzekering, dient het terugbetalingstarief steeds te worden nagevraagd bij uw eigen mutualiteit.</aside>
    </section>
</div>