<div class="content">
    <p>De tarieven van het nationaal akkoord logopedisten-ziekenfondsen worden toegepast aangezien ik een <u>erkend</u> (=geconventioneerd) logopediste ben.</p>

    <table class="table table-hover">
        <thead>
        <tr>
            <td></td>
            <td>Honorarium</td>
            <td>Eigen aandeel <sup>*</sup></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Aanvangsonderzoek per 30 min</td>
            <td>€ 31,13 tot 5x</td>
            <td>€ 7,50 tot 5x</td>
        </tr>
        <tr>
            <td>Evolutiebilan</td>
            <td>€ 44,47</td>
            <td>€ 11</td>
        </tr>
        <tr>
            <td>Individuele behandeling 30 min</td>
            <td>€ 22,88</td>
            <td>€ 5,50</td>
        </tr>
        <tr>
            <td>Individuele behandeling 30 min op school</td>
            <td>€ 22,24</td>
            <td>€ 6</td>
        </tr>
        <tr>
            <td>Individuele behandeling 60 min</td>
            <td>€ 45,77</td>
            <td>€ 11</td>
        </tr>
        </tbody>
    </table>

    <section>
        <aside><sup>*</sup> Voor de meeste logopedische behandelingen is terugbetaling via de mutualiteit mogelijk waardoor u niet het volledige honorarium zelf moet betalen. Mensen met een voorkeursregeling (WIGW-statuut) hebben een kleiner eigen aandeel.
            <br/>Indien de logopedische behandeling valt onder de aanvullende verzekering, dient het terugbetalingstarief steeds te worden nagevraagd bij uw eigen mutualiteit.</aside>
    </section>
</div>