<div class="content">
    <dl>
        <dt>Eerste contact</dt>
        <dd>
            <p>Op eigen initiatief of na doorverwijzing door school, CLB, huisarts, NKO-arts, kinderarts, neuroloog, tandarts, orthodontist…
                kan telefonisch of per mail vrijblijvend een <strong>afspraak</strong> worden gemaakt.</p>
        </dd>

        <dt>Aanvraagprocedure</dt>
        <dd>
            <p>Op basis van het <strong>intakegesprek</strong> kan worden beslist om een <strong>nauwkeurig onderzoek</strong> uit te voeren.
                Na het afronden van het onderzoek worden de resultaten besproken en eventueel wordt u doorverwezen voor verdere tests (een intelligentiebepaling, gehoortest…).
            <br/>Indien terugbetaling door de mutualiteit mogelijk is, dient een afspraak gemaakt te worden bij een bevoegd geneesheer-specialist.
                Voor de meeste stoornissen is dit een kinderarts, neuroloog of een neus-keel-oorarts.</p>
        </dd>

        <dt>Logopedische behandeling</dt>
        <dd>
            <p>Indien blijkt dat er logopedische behandeling is aangewezen, wordt een <strong>op maat gemaakt therapieplan</strong> uitgewerkt waarbij
                zowel persoonlijke begeleiding als interactie met de omgeving centraal staan. De behandeling wordt zo snel mogelijk opgestart
                en indien gewenst worden de andere betrokken partijen op de hoogte gebracht van de testresultaten.</p>
            <p>Na onderling overleg kan beslist worden om de <strong>logopediesessies in de praktijk te Varsenare of op locatie</strong> (aan huis, op school, in woon- en zorgcentra...) te laten doorgaan.
                Een logopediesessie duurt meestal 30 minuten, met een frequentie van 1 tot maximaal 5 keer per week (van maandag
                tot en met zaterdag) naargelang de noodzaak.</p>
        </dd>
    </dl>
</div>