<div class="content">
    <div class="wie_foto"><img src="img/kelly.jpg" title="Kelly Denoyette Logopediste" alt="Foto van Kelly Denoyette"/></div>

    <p>Ik ben Kelly Denoyette en sta steeds met veel <strong>dynamiek en enthousiasme</strong> paraat.
        Mijn praktijkervaringen als zelfstandig logopediste sedert 2011 zijn mijn drijvende kracht om continu te streven naar verbetering.
        Opzoekingswerk en <a href="#/wie#bijscholing">bijscholingen</a> vind ik dan ook zeer belangrijk om wetenschappelijke kennis hand in hand te
        laten gaan met de individuele noden.</p>


    Tijdens het schooljaar 2013-2014 volgde ik de <strong>specialisatieopleiding leerstoornissen</strong> om op de hoogte te zijn van de recentste ontwikkelingen op het gebied van dyslexie, dyscalculie en dysorthografie.
    <br/>In oktober 2015 volgde ik de workshop “Introduction to PROMPT Technique” die dan voor het eerst in België werd georganiseerd. Deze vernieuwende visie biedt een vooruitstrevende invalshoek wat betreft het <strong>onderzoeken en behandelen van spraakstoornissen</strong>.</p>

    <p>Ik ben eveneens aangesloten bij de <a href="http://www.vvl.be" target="_blank" title="Vlaamse Vereniging voor Logopedisten">Vlaamse Vereniging voor Logopedisten</a> om steeds op de hoogte te zijn van de nieuwste evoluties binnen het logopedisch werkveld. Om ideeën en therapiemateriaal uit te wisselen met collega’s ben ik lid van <a href="http://www.logopedia.be" title="Logopedia">Logopedia</a>, een website voor en door logopedisten.</p>


    <table class="table table-hover">
        <thead><tr><th colspan="2">Opleidingen</th></tr></thead>
        <tbody>
        <tr>
            <td class="col-sm-2">Specialisatie</td>
            <td class="col-sm-10">2013-2014 Postgraduaat Leerstoornissen aan Thomas More</td>
        </tr>
        <tr>
            <td class="col-sm-2">Basisopleiding</td>
            <td class="col-sm-10">2008-2011 Bachelor in de Logopedie aan Katholieke Hogeschool Brugge Oostende (KHBO)</td>
        </tr>
        </tbody>
    </table>

    <table class="table table-hover">
        <thead><tr><th colspan="2"><a name="bijscholing" id="bijscholing">Bijscholingen</a></th></tr></thead>
        <tbody>
        <tr>
            <td class="col-sm-2">2023</td>
            <td class="col-sm-10">VVL congres</td>
        </tr>
        <tr>
            <td class="col-sm-2">2022</td>
            <td class="col-sm-10">"Praktische cursus spelling" door Carine Manderfeld (Kwec)</td>
        </tr>
        <tr>
            <td class="col-sm-2">2018</td>
            <td class="col-sm-10">VVL-congres</td>
        </tr>
        <tr>
            <td class="col-sm-2">2017</td>
            <td class="col-sm-10">"Behandelingsmodaliteiten en opvolging dysfagie bij de ziekte van Parkinson" door Lore Van Brussel</td>
        </tr>
        <tr>
            <td class="col-sm-2">2017</td>
            <td class="col-sm-10">"Workshop: het geven van een oudercursus bij dyslexie" door VVL</td>
        </tr>
        <tr>
            <td class="col-sm-2">2017</td>
            <td class="col-sm-10">"Praktijkdag voor en door logopedisten" door Sig</td>
        </tr>
        <tr>
            <td class="col-sm-2">2017</td>
            <td class="col-sm-10">"Symposium ouderbegeleiding dyslexie/dysorthografie" door VVL</td>
        </tr>
        <tr>
            <td class="col-sm-2">2017</td>
            <td class="col-sm-10">"Taaldiagnostiek bij meertalige kinderen: weet jij hoe het moet?" door Charlotte Mostaert</td>
        </tr>
        <tr>
            <td class="col-sm-2">2017</td>
            <td class="col-sm-10">VVL-congres</td>
        </tr>
        <tr>
            <td class="col-sm-2">2016</td>
            <td class="col-sm-10">"Logopedie en Tandheelkunde: oro-myofunctionele therapie" door Peter Helderop</td>
        </tr>
        <tr>
            <td class="col-sm-2">2016</td>
            <td class="col-sm-10">“Hodson en Paden: onderzoek en behandeling van onverstaanbare kinderen” door Imma van de Wijer-Muris en Yvonne Draaisma</td>
        </tr>
        <tr>
            <td class="col-sm-2">2015</td>
            <td class="col-sm-10">“Introduction to PROMPT Technique” door Marianne Raaijmakers en Karin Brinkmann</td>
        </tr>
        <tr>
            <td class="col-sm-2">2014</td>
            <td class="col-sm-10">“Slikstoornissen in de geriatrie” aan Vives</td>
        </tr>
        <tr>
            <td class="col-sm-2">2014</td>
            <td class="col-sm-10">“Spelmateriaal als therapiemateriaal” door Emmelie Eelbode</td>
        </tr>
        <tr>
            <td class="col-sm-2">2013</td>
            <td class="col-sm-10">“Fonetische en fonologische articulatietherapie creatief en communicatief bekeken” door Ingrid Herreman</td>
        </tr>
        <tr>
            <td class="col-sm-2">2012</td>
            <td class="col-sm-10">"Optellen en aftrekken" door Hilde Heuninck</>
        </tr>
        </tbody>
    </table>
</div>